body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  box-sizing: border-box;
}

.primary-color {
  color: #1c2a44;
}
.secondary-color {
  color: #8dd7e5;
}

/* button styles */
.button {
  margin-top: 35px;
  padding: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1c2a44;
  width: 160px;
  border-radius: 4px;
  transition: all 0.2s;
}
.button .signup-btn {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 18px;
  text-decoration: none;
  overflow: hidden;
}
.button:hover {
  transform: scale(0.98);
}
.cart-btn {
  padding: 8px 15px;
  display: inline-block;
  margin: 10px;
  background-color: #1c2a44;
  color: #fff;
  transition: transform 0.2s ease-out;
  border: 1px solid #1c2a44;
  border-radius: 4px;
  width: 160px;
}
.cart-btn:hover {
  transform: scale(0.98);
}

.shoppingcart-btn {
  padding: 3px 8px;
  display: inline-block;
  margin: 5px;
  background-color: #1c2a44;
  color: #fff;
  transition: transform 0.2s ease-out;
  border: 1px solid #1c2a44;
  border-radius: 4px;
  width: 175px;
}
.shoppingcart-btn:hover {
  transform: scale(0.98);
}
.submit-btn {
  padding: 12px 20px;
  display: inline-block;
  margin: 5px;
  background-color: #1c2a44;
  color: #fff;
  transition: transform 0.1s;
  border: 1px solid #1c2a44;
  border-radius: 6px;
  width: 345px;
}
.submit-btn:hover {
  transform: scale(0.98);
}
