.about-header {
  width: 100vw;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.1)),
    url("../../images/about-banner.jpg");
  background-position: center top;
  height: 550px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  padding-left: 50px;
  color: #fff;
}
.about-img img {
  border: 1px hidden #fff;
  border-radius: 6px;
}
